:root{

    --itemSize: calc(6.25% - 2px);


}


.flex{
    
    display: flex;
    width: 540px;
    height: 540px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;

}

.flexItem{
    flex-basis: var(--itemSize);
    flex-shrink: 1;
    width: var(--itemSize);
    height: var(--itemSize);
    border: black solid 0.1px;
}

.eraseButton{

    float: right;
}
