:root{

    --itemSize: 5.82%;

}


.flex{
    
    display: flex;
    width: 35vw;
    height: 35vw;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;

}

.flexItem{
    flex-basis: var(--itemSize);
    border: black solid 0.5px;
}

.eraseButton{

    float: right;
}
